<footer class="footer py-2 bg-dark text-white fixed-bottom">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Philip D", "https://github.com/philipd97", class: "link-light link-text" %></small>
  </div>
</footer>

