<div class="container">
  <% flash.each do |key, msg| %>
    <div class="alert alert-success alert-dismissible fade show">
      <%= msg %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
</div>

